/*!important Do not remove. It ensures that the padding
and borders are taken into account in the element's total
height/width.*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid black;
}

[class*="col-"] {
  width: 100%;
}

/*Desktops*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 75%;
  }
  .col-4 {
    width: 100%;
  }
  .body {
    width: 90%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.header {
  display: block;
  border: 1px solid black;
  background-color: rgb(33, 105, 0);
  width: 100%;
  text-align: center;
  padding-right: 50px;
}

.BigTitle {
  color: rgb(236, 236, 236);
  text-align: right;
}

.menu {
  overflow: none;
}

.menu a {
  float: right;
  width: 15%;
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border: 1px solid black;
}

#firstLink {
  float: left;
  width: 100%;
}

.menu a:hover {
  background-color: rgb(33, 105, 0);
  color: white;
  cursor: pointer;
}

.menu input[type="text"] {
  width: 55%;
  float: right;
  padding: 10px;
  border: none;
  margin-top: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

/*MAX WIDTH OF 600PX*/

@media only screen and (max-width: 600px) {
  .menu a {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 8px;
  }

  .menu input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 1px solid rgb(0, 88, 59);
  }

  .menu .dropdown {
    width: 100%;
    margin: 0;
  }
  .body {
    width: 96%;
  }
}

/* LAST 600PX */

.dropdown {
  width: 15%;
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: all 0.25s ease;
  background-color: #f1f1f1;
  margin-top: 2.25rem;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content .dropdown-menu {
  width: 100%;
  clear: both;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  transition-duration: 0.25s;
}

.footer {
  display: block;
  border: 1px solid black;
  background-color: rgb(33, 105, 0);
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  bottom: 0;
  margin-top: auto;
}

.footer a {
  text-decoration: none;
  color: white;
}

#link-list-left {
  display: inline;
  float: left;
  padding: 25px;
}

#link-list-right {
  display: inline;
  float: left;
  padding: 25px;
}

#contact-info {
  padding-top: 50px;
  padding-right: 100px;
  display: inline;
  float: right;
}
.body {
  display: block;
  margin: 2%;
  width: 96%;
  border: 1px solid black;
}

.ailes_wrapper {
  background-color: rgb(247, 247, 247);

  /*display: inline-flex;
  flex-direction: column;*/
}
.ailes_wrapper h1 {
  color: black;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.ailes_wrapper h2 {
  color: black;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.ailes_block {
  width: 100%;
}

.ailes_block ul {
  /*list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;*/
  gap: 5px;
  padding: 0;
  margin: 0;
}

.ailes_block ul li {
  list-style: none;
  /*flex: 100%;*/
}

.aile {
  /*flex-direction: column;*/
  background-color: rgb(255, 255, 255);
  text-align: center;
  height: auto;
}
.ailes_block img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.aile h3 {
  text-align: center;
  color: black;
  box-sizing: border-box;
  font-size: 3vw;

  text-align: center;
  width: auto;
}
/* Products*/
.products_wrapper {
  background-color: rgb(236, 236, 236);
  display: inline-flex;
  flex-direction: column;
  
}
.products_wrapper h1 {
  color: black;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.products_wrapper h2 {
  color: black;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: auto;
}

.products_block {
  width: 100%;
  padding: 2.5%;
}

.products_block ul {
  list-style-type: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 2.5%;
  padding: 0;
  margin: 0;
}

.products_block ul li {
  list-style: none;
  flex: 40%;
  margin-top: 5%;
}

.products_block ul li a {
  text-decoration: none;
}

.products_block ul li a:link,
.products_block ul li a:visited {
  color: rgb(0, 0, 0);
}
.product {
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: auto;
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
  overflow: hidden;
}
.products_block img {
  width: 100%;
  height: auto;
  max-height: 12em;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

.product h3,
.product h4 {
  text-align: center;
  color: black;
  box-sizing: border-box;
  font-size: 2vw;
  text-align: center;
  width: auto;
  margin: 1%;
}

.product span {
  display: block;
  font-size: 2.5vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
}

@media (max-width: 750px) {
  .product h3 {
    font-size: 3vw;
  }

  .product h4 {
    font-size: 3vw;
  }

  .product span {
    font-size: 3vw;
  }
}

/*Important classes for products*/

.item_details {
  width: 100%;
  padding-left: 1%;
  background-color: rgb(247, 247, 247);
}

.item_wrapper {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*justify-content: space-around;*/
}

.item_wrapper img {
  /*height: auto;
  max-width: 50%;*/

  height: 100%;
  width: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.item_wrapper hr {
  border-color: rgb(240, 240, 240);
  border-style: solid;
  margin-right: 1%;
}

.item_description {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: block;
  font-size: 3vw;
}
.item_price {
  font-family: Georgia, "Times New Roman", Times, serif;
  /*display: block;*/
  text-shadow: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 3vw;
}
.item_price_insight {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 2.5%;
  font-size: 1.25vw;
  color: rgb(125, 125, 125);
  font-weight: lighter;
}

#quantity-modifier {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

#quantity-text {
  text-align: center;
  width: 50px;
  height: 35px;
}

#quantity-text::placeholder {
  color: black;
}

.plus-minus-button {
  width: 50px;
  height: 35px;
}

.plus-minus-button:hover {
  width: 50px;
  height: 35px;
  background-color: rgb(33, 105, 0);
  color: yellow;
}
.product_description {
  display: block;
}

.brand {
  font-family: sans-serif;
  color: rgb(125, 125, 125);
  font-size: 2vw;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: 70%;
  margin-top: 3%;
  text-decoration: none;
  padding: 15px;
  width: 35%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
  font-family: sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.button:hover {
  color: rgb(255, 225, 225);
  background-color: rgb(33, 105, 0);
}
.item_number {
  display: block;
  margin-bottom: 10px;
}
.product_description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
}
.item_number {
  position: absolute;
  color: rgb(125, 125, 125);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  bottom: 0;
}

/*End of important classes for products */

.login-page {
  width: 80%;
  margin: 40px auto 40px auto;
}

.login-page h2 {
  font-family: sans-serif;
  color: rgb(121, 173, 135);
}

.nav {
  color: black;
}

.nav a:hover {
  background-color: rgb(33, 105, 0);
  color: white;
  cursor: pointer;
}

.login-submit {
  display: block;
  margin: 20px auto auto 0;
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
  font-family: sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.login-submit:hover {
  color: rgb(255, 225, 225);
  background-color: rgb(33, 105, 0);
  cursor: pointer;
}

.signup-page {
  width: 80%;
  margin: 40px auto 40px auto;
}

.signup-page h2 {
  font-family: sans-serif;
  color: rgb(121, 173, 135);
}

.signup-page h3 {
  font-family: sans-serif;
  color: rgb(121, 173, 135);
  padding: 5px 0px 0px 0px;
}

.signup-page h1 {
  font-family: sans-serif;
  color: rgb(33, 105, 0);
}

.login-page a {
  color: rgb(121, 173, 135);
  text-decoration: none;
}

.form-field input {
  border: 1px solid #1b1919;
  border-radius: 4px;
  padding: 6px;
  display: block;
  font-family: inherit;
  width: 250px;
}

.form-error-message {
  visibility: hidden;
  position: absolute;
}

.form-field.error .form-error-message {
  visibility: visible;
  color: red;
}

.form-field.error input {
  border-color: red;
}

#cart-title {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.cart-page {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto 0;
}

.cart-item-image {
  width: 8em;
}

.cart-item-name {
  font-size: 1.5em;
}

.cart-item-quantity-button {
  border: none;
  border-radius: 2em;
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: rgb(33, 155, 0);
  margin: 0.5rem;
  text-align: center;
}

.cart-item-quantity-button:hover {
  cursor: pointer;
  background-color: rgb(33, 190, 0);
}

.cart-item-quantity-button:active {
  background-color: rgb(33, 155, 0);
}

.cart-item-quantity-input {
  width: 50px;
  text-align: center;
  padding: 3px;
}

.cart-item-delete {
  padding: 5px;
  color: rgb(200, 0, 0);
  text-decoration: underline;
  user-select: none;
}

.cart-item-delete:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.cart-item-delete:active {
  color: rgb(200, 0, 0);
}

.cart-container {
  border: 2px solid rgb(33, 105, 0);
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 60%;
  margin: 20px 50px;
  padding: 1em;
  overflow: auto;
}

.cart-item-container {
  width: 100%;
}

.cart-container td {
  padding: 10px;
  text-align: center;
}

.cart-summary {
  border: 2px solid rgb(33, 105, 0);
  background-color: #f8e8ca;
  border-radius: 10px;
  margin: 20px 50px;
}

.cart-summary ul {
  list-style-type: none;
  padding: 0px 10px;
}

.cart-summary li {
  padding: 1em;
}

.cart-summary-value {
  display: inline-block;
  font-size: 1.2rem;
}

.cart-summary-name {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
}

.cart-summary-button {
  margin: 20px 26px;
  padding: 10px 20px;
  text-align: center;
  border: solid 1px black;
  color: white;
  background-color: rgb(33, 105, 0);
  display: block;
}

.cart-summary a {
  text-decoration: none;
}

.cart-summary-button:hover {
  cursor: pointer;
  background-color: rgb(34, 120, 2);
}

.cart-summary-button:active {
  background-color: rgb(33, 105, 0);
}

/*MEDIA FOR 1300PX*/
@media (max-width: 1300px) {
  .cart-item-name {
    font-size: 1em;
  }
  .cart-item-image {
    width: 7em;
  }

  .cart-item-quantity-button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .cart-item-quantity-input {
    width: 30px;
  }
}
/*END MEDIA FOR 1300PX*/

/*MEDIA 1150PX*/
@media (max-width: 1150px) {
  .cart-page {
    flex-direction: column;
    align-items: center;
  }
  .cart-container {
    width: 80%;
  }

  .cart-container td {
    padding: 7px 7px;
  }

  .products_block ul li {
    list-style: none;
    flex: 95%;
    margin-top: 5%;
  }

  .products_block img {
    width: 100%;
    height: auto;
    max-height: 20em;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
  }
}
/*END MEDIA 1150PX*/

/* MY MEDIA FOR PRODUCT PAGES */
@media (max-width: 950px) {
  body {
    margin-bottom: 10px;
  }
  .button {
    font-size: 15px;
  }
  /*CHANGED*/
  .item_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .item_details {
    width: 100%;
    padding-left: 1%;
    background-color: rgb(247, 247, 247);
    font-size: 20px;
  }

  #total {
    width: 35%;
    text-align: center;
  }

  .item_wrapper img {
    height: auto;
    max-height: 100%;
    max-width: 50%;
    text-align: center;
    margin-left: 25%;
    /*height: 100%;
      width: auto;
      margin-left: 5%;
      margin-top: 5%;*/
  }

  .item_wrapper h2 {
    font-size: 4vw;
  }
  .brand {
    font-family: sans-serif;
    color: rgb(125, 125, 125);
    font-size: 10vw;
    text-align: center;
  }

  .item_description {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    display: block;
    font-size: 6vw;
    text-align: center;
  }
  .item_price {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    text-shadow: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 6vw;
    text-align: center;
  }
  .item_price_insight {
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 2.5%;
    font-size: 5vw;
    color: rgb(125, 125, 125);
    font-weight: lighter;
    text-align: center;
  }

  #quantity-modifier {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
  }

  #quantity-text {
    text-align: center;
    width: 50px;
    height: 35px;
  }

  #quantity-text::placeholder {
    color: black;
  }

  .plus-minus-button {
    width: 50px;
    height: 35px;
  }

  .plus-minus-button:hover {
    width: 50px;
    height: 35px;
    background-color: rgb(33, 105, 0);
    color: yellow;
  }
  .product_description {
    display: block;
  }

  .brand {
    font-family: sans-serif;
    color: rgb(125, 125, 125);
    font-size: 2vw;
  }

  .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 15px;
    width: 35%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    transition: all 0.2s;
    font-family: sans-serif;
    font-weight: 300;
    box-sizing: border-box;
  }
  .button:hover {
    color: rgb(255, 225, 225);
    background-color: rgb(33, 105, 0);
  }
  .item_number {
    display: block;
    margin-bottom: 0;
  }
  .product_description {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vw;
    text-align: center;
    padding: 40px;
  }
  .item_number {
    position: absolute;
    color: rgb(125, 125, 125);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    bottom: 0;
    text-align: center;
  }
  .brand_description {
    font-size: 4vw;
    text-align: center;
  }

  #link-list-left {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }

  #link-list-right {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }
  
}

/* END OF MY MEDIA FOR PRODUCTS*/

/* MEDIA FOR PRODUCTS*/
@media (max-width: 765px) {
  .item_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
  }
  .body {
    display: block;
    border: 1px solid black;
  }
}
/*main page*/
@media (max-width: 650px) {
  .aile h3 {
    text-align: center;
    color: black;
    box-sizing: border-box;
    font-size: 5vw;

    text-align: center;
    width: auto;
  }
  #footer {
    width: 100%;
    text-align: center;
  }

  #link-list-left {
    float: left;
  }

  #link-list-right {
    float: right;
  }

  #contact-info {
    width: auto;
    display: inline-block;
    margin: 0 auto;

    padding-bottom: 50px;
  }

  .nav {
    color: black;
  }

  
}
/* END OF MEDIA FOR PRODUCTS*/

/* MEDIA FOR CART*/
@media (max-width: 950px) {
  .cart-page {
    font-size: 0.85em;
  }
  .cart-item-image {
    display: none;
  }

  .cart-item-delete {
    font-size: 0.8em;
  }

  .cart-container td {
    padding: 5px 5px;
  }

  @media (max-width: 650px) {
    .cart-item-quantity-input {
      font-size: 0.7em;
    }

    .cart-item-quantity-button {
      width: 1.25rem;
      height: 1.25rem;
    }

    .cart-container {
      margin: 10px 10px;
    }
  }

  @media (max-width: 516px) {
    .cart-item-quantity {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 400px) {
    .cart-summary-name {
      font-size: 0.9rem;
    }

    .cart-summary-value {
      font-size: 0.9rem;
    }

    #cart-title {
      font-size: 1.2em;
    }
  }
}
/*MEDIA FOR CART*/

.hideContent {
  display: none;
  overflow: hidden;
  line-height: 1em;
  height: 2em;
}

.showContent {
  line-height: 1em;
  height: auto;
}

.show-more {
  background-color: rgb(247, 247, 247);
  text-align: center;
  margin-top: -9%;

  border: transparent;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  color: black;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%;
  width: 35%;
  transition: all 0.2s;
}
.show-more:hover {
  color: rgb(33, 105, 0);
}

.more-desc hr {
  margin-top: 10%;
}

#ErrorTittle {
  text-align: center;
}
