html {
    background-color:rgb(189, 221, 206);
}

/*Top components of the page*/
header {
    background-color:rgb(189, 221, 206);
    margin-left:120px;
    font-size:30px;
}
header p {
    margin-left:30px;
    margin-top:12px;
    font-size:20px;
    background-color:rgb(189, 221, 206);

}

.user-display {
    float: left;
    background-color: rgb(58, 182, 0);
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
  }

.additional-components button {
    float:right;
    margin-bottom:10px;
    margin-right:15px;
}
.additional-components input {
    float:right;
    margin-top:5px;
    margin-right:30px;
    width:25%;
    height:30px;
}

.additional-components label {
    float:right;
    margin-top:9px;
    font-size:17px;
    margin-right:10px;
}

/*Side Bar*/
aside {
    position:fixed;
    height:100%;
    width:120px;
    left:0;
    top:0;
    background-color:rgb(189, 221, 206) ;
    overflow:auto;
}

aside a {
    display:block;
    text-decoration: none;
    color:white;
    padding:15px;
    background-color:rgb(26, 78, 68);
    margin:1px;
    border:solid;
    border-width:1px;
    border-color:rgb(124, 216, 196);
}

aside a:hover {
    background-color:grey;
    text-decoration:none;
}
aside img {
    margin-left:0;
}

/*Section where the products will be stored*/
.inventory-table {
    margin-left:130px;
    margin-right:10px;
    background-color:rgb(171, 238, 153);
    margin-bottom:50px;
}

.name-container {
    float:left;
    width:25%;
    height:40px;
    word-wrap:break-word;

}

.name-container p {
    margin-top:2.5px;
    margin-bottom:2.5px;
}

.brand-container {
    float:left;
    width:15.5%;
    height:40px;
    word-wrap:break-word;
}

.department-container {
    float:left;
    width:17%;
    height:40px;
}

.price-container, .origin-container {
    float:left;
    width:10%;
    height:40px;
}

.small-container {
    float:left;
    width:7.5%;
    height:40px;
}

/*The block of elements containing the information of one product*/
.product {
    float:left;
    width:100%;
    text-align:center;
    border:1px black solid;
}

.ailes{
    background-color:khaki;
    width:100%;
    float:left;
    font-size:20px;
    text-align:center;
    border:1px black solid;
}
.ailes p {
    margin-top:10px;
}

img {
    height:80px;
    margin-bottom:10px;
    margin-left:15px;
    margin-top:10px;
}

/*Space under inventory table*/
footer {
    background-color:rgb(189, 221, 206);
    margin-left:120px;
    float:right;
    margin-right:2%;
    margin-top:1%;
    padding-bottom:20px;
}

button {
    height:40px;
    width:100px;
}

/*Color side of table*/
.margins{
    background-color:rgb(189, 221, 206);
}

.edit-button {
    height:30px;
    margin-top:5px;
    width:70px;
}

.delete-button {
    height:30px;
    margin-top:5px;
    width:70px;
}

/* Large Screens*/
    @media only screen and (max-width: 1200px) {
        header {
            width:100%;
            margin-left:0;
        }
        aside {
            position:relative;
            width:100%;
        }

        aside a {
            padding:8px;
            text-align: center;
        }

        .inventory-table {
            width:100%;
            margin-left:0;
        }

        .product {
            width:48%;
            margin:1%;
        }

        .name-container,.brand-container,.department-container,.price-container,.origin-container,.small-container {
            width:100%;
        }

        img {
            display:none;
        }

        footer button{
            display:none;
        }
        .edit-button, .delete-button {
            height:30px;
            margin-top:5px;
            width:90%;
        }
        .user-display {
            float: none;
            text-align: center;
          }
    }

/* Medium Screens*/
@media only screen and (max-width: 700px) {
        header {
            width:100%;
            margin-left:0;
        }

        aside {
            position:relative;
            width:100%;
        }

        aside a {
            padding:18px;
            text-align: center;
        }

        .inventory {
            width:100%;
            margin-left:0;
        }

        .product {
            width:98%;
            margin:1%;
        }

        
        .name-container,.brand-container,.department-container,.price-container,.origin-container, .small-container{
            width:100%;
        }


        .inventory-table {
            width:99%;
            margin-left:0;
        }

        .ailes {
            width:98%;
            margin:1%;
        }

        img {
            display:none;
        }
  
        .additional-components button {
            float:right;
            margin-bottom:0;
            margin-right:10px;
        }
        .additional-components input {
            float:right;
            margin-top:10px;
            margin-right:30px;
            width:25%;
        }
        
        .additional-components label {
            float:right;
            margin-top:12px;
            font-size:17px;
            margin-right:10px;
        }
        .user-display {
            float: none;
            text-align: center;
          }
    }

/*Small Screen*/
    @media only screen and (min-width: 300px) and (max-width:699px) {
        .additional-components button {
            margin-bottom:0;
            margin-top:15px;
            margin-right:12.5%;
            width:75%;
        }
        .additional-components input {
            margin-top:25px;
            margin-right:2%;
            width:50%;
            margin-bottom:20px;
        }
        
        .additional-components label {
            margin-top:30px;
            font-size:12px;
            margin-right:10px;
            margin-bottom:20px;
        }

        .user-display {
            float: none;
            text-align: center;
          }
    }