html {
    background-color:rgb(189, 221, 206) ;
}

/*Side Bar*/
.sidebar {
    padding-top:30px;
    text-align: center;
    position:fixed;
    height:100%;
    width:30%;
    background-color: cadetblue;
}

/*Right side of program*/
.right-side {
    position:relative;
    float:right;
    margin-top:30px;
    width:70%;
    background-color:rgb(189, 221, 206) ;
}

/*Division of the space by 20%*/
.xsml-container {
    width:20%;
    float:left;
    text-align:center;
    padding:30px;
}

/*Division of the space by 25%*/
.sml-container{
    width:25%;
    float:left;
    text-align:center;
    padding:30px;
}


.sml-container select{
    width:100%;
    padding:6.7px;
}

/*Division of the space by 30%*/
.med-container{
    width:30%;
    float:left;
    text-align:center;
    padding:30px;
}

/*Division of the space by 50%*/
.large-container{
    float:left;
    width:50%;
    text-align:center;
    padding:30px;
}

/*Division of the space by 100%*/
.xlarge-container{
    width:100%;
    float:left;
    text-align:center;
    padding:30px;
}
.xlarge-container input{
    width:100%;
    float:left;
    text-align:center;
    padding:30px;
}

.xlarge-container textarea {
    resize:none;
    width:100%;
}

.error {
    color:red;
}

input{
    width:100%;
    padding:5px;
}

table {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top:3%;
}

#isDiscount {
    padding:6.5px;
}

/*Header containing the picture*/
#picture-space{
    padding:10px;
}

/*product discount deadline*/
#product-discount-deadline {
    text-align:center;
    width:100%;
}

/*circle to put the product picture*/
.circled-picture
{
    height:220px;
    width:220px;
    border-radius: 50%;
    display:block;
    background-position:center;
    background-size:85% 85%;
    background-repeat: no-repeat;
    background-color: white;
    border-style:solid;
    border-width: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
}

.circled-picture p
{
    margin-top:100px;
    margin-left:20px;
}

/*Button space at the bottom*/

.button-container {
    width:98%;
    float:left;
    text-align:center;
    padding:5px;
}
button {
    float:right;
    height:40px;
    width:10%;
}

#save-button {
    margin-right:30px;
}

#edit-picture{
    float:left;
    margin-left:18%;
    height:30px;
}
/*End of normal screen*/

.sidebar img {
    margin-top:50%;
}
#description-under-user-edit-logo{
    color: black;
    margin: 20px;
    font-size: 20px;
    display:inline-block;
    font-family: cursive;
    color: rgb(1, 26, 1);
  }

/*for xlarge screens*/
  @media (min-width: 1060px) and (max-width: 1400px) {
    .right-side {
        width:80%;
    }
    .sidebar {
        width:20%;
    }
    .sidebar img {
        margin-top:100%;
        width:200px;
    }

  }
  

  /*for large screens*/
  @media (min-width: 749px) and (max-width: 1059px) {
    .right-side {
        width:100%;
    }
    .sidebar {
        display:none;
    }

  }

  /*for medium screens*/
  @media (min-width: 600px) and (max-width: 749px) {

    #name,#brand,#short-description  {
        width:100%;
        float:left;
        text-align:center;
        padding:30px;
    }

    .med-container select{
        padding:6.7px;
    }

    .xsml-container, .sml-container,.med-container  {
        width:50%;
    }
    
    #isDiscount {
        padding:6.7px;
    }

    .right-side {
        width:100%;
    }

    .sidebar {
        display:none;
    }

    .button-container {
        width:95%;
    }

    button {
        width:20%;
    }
  }

  /*for small screens*/
  @media (max-width: 599px)
  {
    .right-side {
        width:100%;
    }
    .sidebar {
        display:none;
    }
    .xsml-container,.sml-container,.med-container,.large-container,.xlarge-container {
        width:100%;
    }

    .button-container {
        width:95%;
        margin-bottom:20px;
    }

    button {
        width:25%;
    }
  }

  
